<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>{% if page.url contains '/zh/' %}电话：{% else %}Phone: {% endif %}</strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>{% if page.url contains '/zh/' %}邮箱：{% else %}Email: {% endif %}</strong>
      <a href="mailto:{{ site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        {% if page.url contains '/zh/' %}
          <a href="/zh/contact/" class="button">联系我们</a>
        {% else %}
          <a href="/contact/" class="button">Contact</a>
        {% endif %}
      </div>
    {% endif %}
</div>
